#proyecto-1{
    background-image: url('google.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text-shadow-1{
    text-shadow:  -2px -1px 8px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1rem;
}

#proyecto-2{
    background-image: url('intereses.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;   
}
.text-shadow-2{
    text-shadow:  -2px -1px 8px rgba(0, 0, 0, 1);
    text-align: center;
    font-size: 1rem;
}

